# Tambahkan MIME type untuk AVIF
AddType image/avif .avif

<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews -Indexes
    </IfModule>

    RewriteEngine On

    # Handle Authorization Header
    RewriteCond %{HTTP:Authorization} .
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

    # Handle X-XSRF-Token Header
    RewriteCond %{HTTP:x-xsrf-token} .
    RewriteRule .* - [E=HTTP_X_XSRF_TOKEN:%{HTTP:X-XSRF-Token}]

    # Redirect Trailing Slashes If Not A Folder...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_URI} (.+)/$
    RewriteRule ^ %1 [L,R=301]

    # Redirect /student/juz/5 ke /student?juz=5
    RewriteRule ^student/juz/([0-9]+)$ student?juz=$1 [QSA,L]

    # Redirect /student/tahun/2024 ke /student?tahun=2024
    RewriteRule ^student/tahun/([0-9]+)$ student?tahun=$1 [QSA,L]

    # Redirect /student/penyimak/([^/]+)$ ke /student?penyimak=xxx
    RewriteRule ^student/penyimak/([^/]+)$ student?penyimak=$1 [QSA,L]

    # Send Requests To Front Controller...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]
</IfModule>
